body{
    background-color: antiquewhite;
    margin: 0;
}

header{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 10vh;
}
.hamburger{
    display: none;
}
<<<<<<< HEAD
.menuhb{
    display: none;
}
=======
>>>>>>> 39a011db956b57f80c78f72814ca7526a6216430
.menu{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.linkmenu{
    font-size: 1.5vw;
    color: aliceblue;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 10vh;
<<<<<<< HEAD
    background-color: gray;
    position: fixed;
    right: 0;
    bottom: 0;
}
@media screen and (max-width: 1024px){
    .menu{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .hamburger:hover ~ .menuhb , .menuhb:hover{
        display: inline;
    }
}
=======
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
}
>>>>>>> 39a011db956b57f80c78f72814ca7526a6216430
